strands-agents
strands-agents-tools
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
boto3
botocore
bedrock-agentcore==1.0.5
bedrock-agentcore-starter-toolkit
streamlit
requests
streamlit-cognito-auth
uvicorn
fastapi